.header {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
   url("./media/home-page-photo-1920x769.jpg");

  .headerContainer {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerMenu {
      display: flex;
      width: 70%;
      justify-content: space-between ;

      .hostline {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        color: $white;
        font-family: $roboto;
        font-size: $small;

         .img {
           padding: 5px;
         }
      }

      .headerList {
        list-style: none;
        font-family: $roboto;
        display: flex;
        flex-direction: row;
        font-size: $small;
        color:$white;
        li {
          padding: 30px 10px;
        }
      }
    }
  }

  .headerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 500px;

    .headerContainerText { 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 200px;

      .headerH1 {
        display: flex;
        color: $white;
        font-family: $roboto;
        font-size: $large;
      }

      .headerP {
        @include text;
        line-height: 25px;
        padding-bottom: 10px;
      }
    }
  }
}